<div class="section section-primary">
    <div class="section-mast">
        <%= image_tag "myfairelection_logo.png", :alt => "My Fair Election" %>
        <h3>Improving the voting process through your&nbsp;feedback.</h3>
        <div class="section div-decor">
            <div class="subsec-location">
                <div class="stars"></div>
                <div class="content">
                    <%= render "polling_places/form" %>
                </div>
                <div class="stripes"></div>
            </div>
        </div>
    </div>
</div>

<div class="page">
    <div class="section section-signup clearfix">
        <h2>Let's tell voting locations how&nbsp;they&nbsp;did</h2>
        <h4>Sign up to give us feedback about your voting experience</h4>
        <p>
            After election day we'll compile all of the information we gathered and deliver it to polling places across the country to help move towards a more efficient experience for everyone.
        </p>
        <div class="row-fluid">
            <div class="span6 txt-center">
                <div class="signup">
                    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "form-horizontal"}) do |f| %>  
                        <%= link_to "Sign up with Twitter", user_omniauth_authorize_path(:twitter), :class => "btn btn-twitter btn-block" %>
                        <hr />
                        <p>
                            Or with your email address:
                        </p>
                        <label for="email_field">Email:</label>
                        <%= f.email_field :email %>
                        <label for="password">Password:</label>
                        <%= f.password_field :password %>
                        <label for="password_confirmation">Confirm Password:</label>
                        <%= f.password_field :password_confirmation %>
                        <%= f.submit "Sign up", class: "btn btn-primary" %>
                    <% end %>
                </div>
            </div>
            <div class="span5">
                <ul class="signup_questions">
                    <lh>After voting, log in to&nbsp;tell&nbsp;us...</lh>
                    <li>Was it easy for you to vote?</li>
                    <li>Were there long lines, closed polling places, or broken machines?</li>
                    <li>Do you have comments about your voting place?</li>
                    <li>How long did you have to wait to vote?</li>
                </ul>
                <h4>Check in reminder</h4>
                <p>
                    If you forget to check in here on voting day we'll send you a short 5 question survey about your voting experience the day after election day. We promise to only send you that reminder, and we will never share your personal information it with others. (click here for our privacy policy)
                </p>
            </div>
        </div>
    </div>
<%
=begin %>
    <hr />
    <div class="section section-reminder">
        <h2>Reminder to&nbsp;vote</h2>
        <p>
            On voting day, receive an email reminder from us to vote. We promise to only send you the reminder and to not share it with others. <em>(we don't like junk email either)</em>
        </p>
        <div class="alert alert-success inline">
            <strong>Success!</strong> On election day, we will send an email to blah@domain.com and remind you to vote.
        </div>
        <form id="" name="" action="index.html" method="POST">
            <input type="text" name="address" value="" class="span4" placeholder="Example: email@address.com" />
            <input type="submit" name="submit" value="Remind Me" class="btn btn-primary" /><br />
        </form>
    </div>
<% 
=end %>
</div>
<div class="section-trouble clearfix">
    Having trouble at your polling place? <span class="block_sm"><a href="#">Here are some resources to help you</a></span>
</div>
