<% content_for :address_form do %>
                <% if !user_signed_in? %>
                <div class="section div-decor">
                    <div class="subsec-location">
                        <div class="content">
                            <%= render "voter_info/form" %>
                        </div>
                    </div>
                </div>
                <% end %>

<% end %>

       <% if user_signed_in? %>
          <% if !current_user.address.blank? %>
            <h2>Your current voting information</h2>
            <p>
                <strong>Your home address:</strong><br />
                <%= render "address", :address => current_user.address %>
                <br />
                <a href="#" class="btn click_toggle js-show" data-target="change_address">Change Address</a>
            </p>
            <br />
            <div id="change_address" class="js-hide">
                <hr class="no-top" />
                <%= render "voter_info/form_change" %>
                <hr class="no-top" />
            </div>
            <p>
                <%= render "voter_info/voter_info", voter_info: VoterInfo.new(current_user.address.to_s) %>
            </p>
          <% else %>
            <%= render "voter_info/form" %>
          <% end %>

         <br /><br />

        <h2>Email Confirmation</h2>
        <% if current_user.confirmed? %>
<%
=begin %>
            <% if current_user.wants_reminder? %>
                <p>
                    <strong>Thanks for signing up for a reminder to vote</strong><br />
                    On November 6th, we will send you an email to remind you to vote and tell us how well your polling place did.
                </p>
            <% else %>
                <p>
                    <strong>On voting day, receive an reminder from us to vote and tell us how your polling place did.</strong><br />
                    We promise to only send you the reminder and to not share it with others. <em>(we don't like junk email either)</em>
                </p>
    <!--
                <div class="alert alert-success inline">
                    <strong>Success!</strong> On election day, we will send an email to blah@domain.com and remind you to vote.
                </div>
    -->
                <%= form_for current_user, :url => users_reminder_path do |f| %>
                    <%= f.hidden_field :wants_reminder, :value => true %>
                    <%= f.submit "Remind Me", :class => "btn btn-primary" %>
                <% end %>
            <% end %>
<% 
=end %>
        <% else %>
            <div class="alert alert-warn">
                <strong>Confirm Your Email Address</strong><br />
                To be able to receive a friendly email reminder to vote.
            </div>
            <p>
                Check your email account for a message from My Fair Election. Follow the instructions inside of the message to confirm your email address. <em>Please be sure to check the 'Spam' or 'Junk' folder in your account.</em>
            </p>
            <br />
            <br />
            <p>
                <strong>Didn't receive the email from My Fair Election?</strong><br />
                <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
                    <%= f.hidden_field :email, :value => current_user.email %>
                    <div><%= f.submit "Resend Confirmation Instructions", :class => "btn btn-primary" %></div>
                <% end %>
            </p>
        <% end %>

        <% else %>

        <div class="map">
        </div>
        <div class="row-fluid social">
            <div class="span4 promo">
                <a href="http://facebook.com/myfairelection" target="_blank">
                    <h3 class="facebook"><i></i>Facebook</h3>
                    <b>Encourate your friends to vote and give us their feedback</b>
                </a>
            </div>
            <div class="span4 promo">
                <a href="http://bbx.me/myfairelection" target="_blank">
                    <h3 class="photos"><i></i>#ivoted Photos</h3>
                    <b>Add photos to our photo stream using the #ivoted hastag</b>
                </a>
            </div>
            <div class="span4 promo">
                <a href="http://twitter.com/myfairelection" target="_blank">
                    <h3 class="twitter"><i></i>Twitter</h3>
                    <b>Encourage your followers to vote and give us their feedback</b>
                </a>
            </div>
        </div>

        <% end %>
<%
=begin %>
    <hr />
    <div class="section section-reminder">
        <h2>Reminder to&nbsp;vote</h2>
        <p>
            On voting day, receive an email reminder from us to vote. We promise to only send you the reminder and to not share it with others. <em>(we don't like junk email either)</em>
        </p>
        <div class="alert alert-success inline">
            <strong>Success!</strong> On election day, we will send an email to blah@domain.com and remind you to vote.
        </div>
        <form id="" name="" action="index.html" method="POST">
            Email: <input type="text" name="address" value="" class="span4" placeholder="Example: email@address.com" />
            <input type="submit" name="submit" value="Remind Me" class="btn btn-primary" /><br />
        </form>
    </div>
<% 
=end %>
