      <% if voter_info.polling_locations.length > 0 %>
        <p>On election day, you may vote at any of the following places:</p>
        <% voter_info.polling_locations.each do |pl| %>
          <%= render "polling_locations/summary", polling_location: pl %>
          <%= link_to 'Details', polling_location_path(pl) %>
          <% if current_user %>
            <%= link_to 'Review this location', new_polling_location_review_path(pl) %>
          <% else %>
            <%= link_to 'Sign in to review this location', new_user_session_path %>
          <% end %>        
        <% end %>
      <% end %>
      <% if voter_info.early_voting_places.length > 0 %>
        <h3>Before election day</h3>
        <p><strong>You may vote early at any of the following places:</strong></p>
        <% voter_info.early_voting_places.each do |pl| %>
          <%= render "polling_locations/summary", polling_location: pl %>
          <%= link_to 'More information about this location >', polling_location_path(pl) %>
          <br />
          <br />
          <% if current_user %>
            <%= link_to 'Review this location', new_polling_location_review_path(pl), :class => "btn btn-primary" %>
          <% else %>
            <h4>Give feedback about this location:</h4>
            <%= link_to 'Log in', new_user_session_path, :class => "btn btn-primary" %>
            &nbsp; or &nbsp;
            <%= link_to 'Sign up', new_user_registration_path, :class => "btn btn-primary" %>
          <% end %>        
        <% end %>
      <% end %>
      <% if voter_info.early_voting_places.length + voter_info.polling_locations.length == 0 %>
        <p>We're sorry. Your address is valid, but we couldn't find your polling place. This could
           be because:
           <ul>
            <li>We don't have information for your location yet. New information is coming in 
                daily, so you may want to check back again.</li>
            <li>Your state only provides polling place information for registered voters. If you
              have not registered to vote, or there is an issue with your registration, you may not
              see a result.</li>
            </ul>
          If you are concerned about this, please contact your local elections officials, or one or
          more of <%= link_to 'these organizations.', info_fraud_path %>
        </p>
      <% end %>