      <% if voter_info.polling_locations.length > 0 %>
        <h2>On election day</h2>
        <h4>You may vote at any of the following places:</h4>
        <% voter_info.polling_locations.each do |pl| %>
          <hr />
          <%= render "polling_locations/summary", polling_location: pl %>
          <%= link_to 'More information about this location >', polling_location_path(pl) %>
          <br />
          <br />
         <% end %>
      <% end %>
      <% if voter_info.early_voting_places.length > 0 %>
        <h3>Before election day</h3>
        <p><strong>You may vote early at any of the following places:</strong></p>
        <% voter_info.early_voting_places.each do |pl| %>
          <%= render "polling_locations/summary", polling_location: pl %>
          <%= link_to 'More information about this location >', polling_location_path(pl) %>
          <br />
          <br />
        <% end %>
      <% end %>
      <% if voter_info.early_voting_places.length + voter_info.polling_locations.length == 0 %>
        <p>We're sorry. Your address is valid, but we couldn't find your polling place. This could
           be because:
           <ul>
            <li>You voted early, but our providers have stopped providing information about early
              voting locations.</li>
            <li>You signed up to vote by mail, or live in Oregon or Washington, where all voting is by mail.</li>
            <li>Your state only provides polling place information for registered voters. If you
              have not registered to vote, registered late, or there is an issue with your registration,
              you may not see a result.</li>
            </ul>
          If you are concerned about this, please contact your local elections officials, or one or
          more of <%= link_to 'these organizations.', info_fraud_path %>
        </p>
      <% end %>