<div class="page">
    <div class="section">
    <%= render "form" %>
    <p>We looked up your address:</p>
    <% address = @voter_info.normalized_address %>
    <%= render "address", :address => address %>
    <%= form_tag(users_address_path, method: :post) do %>
      <% address.to_h.keys.each do |key| %>
        <%= hidden_field_tag key, address.to_h[key] %>
      <% end %>
      <%= submit_tag "Save this information" %>
    <% end %>
    <%= render "voter_info", voter_info: @voter_info %>
  </div>
</div>
