<div class="section">
  <%= render "form" %>
  <hr />
  <p>We looked up your address:</p>
  <% address = @voter_info.normalized_address %>
  <%= render "address", :address => address %>
  <%= form_tag(users_address_path, method: :post) do %>
    <% address.to_h.keys.each do |key| %>
      <%= hidden_field_tag key, address.to_h[key] %>
    <% end %>
    <br />
    <%= submit_tag "Save this information", :class => "btn btn-primary" %>
  <% end %>
  <%= render "voter_info", voter_info: @voter_info %>
</div>
