<% [:name, :location_name, :line1, :line2, :line3].each do |a| %>
  <% if a %><p><%= polling_location.send(a) %></p><% end %>
<% end %>
<p><%= "#{polling_location.city}, #{polling_location.state} #{polling_location.zip}" %></p>
<% if polling_location.properties["pollingHours"] %>
  <p>Hours: <%= polling_location.properties["pollingHours"] %></p>
<% end %> 
<% if current_user %>
  <%= link_to 'Review this location', new_polling_location_review_path(polling_location) %>
<% else %>
  <%= link_to 'Sign in to review this location', new_user_session_path %>
<% end %>
