<p>
<% [:name, :location_name, :line1, :line2, :line3].each do |a| %>
  <% if a %><% unless polling_location.send(a).blank? %><%= polling_location.send(a) %><br /><% end %><% end %>
<% end %>
<%= "#{polling_location.city}, #{polling_location.state} #{polling_location.zip}" %><br />
<% if polling_location.properties["pollingHours"] %>
  <br />
  Hours: <%= polling_location.properties["pollingHours"] %>
<% end %> 
</p>
<% if current_user %>
  <%= link_to 'Review this location', new_polling_location_review_path(polling_location), :class => "btn btn-primary" %><br />
<% else %>
    <%= link_to 'Give Feedback', new_user_registration_path, :class => "btn btn-primary" %><br />
    <br />
    <em class="light">(Email address is required to give feedback)</em>
<% end %>
