<p>We might not have been able to find your polling location in our database&mdash;but we still
	want to hear about voting conditions where you did vote.</p>
<%= form_for @polling_location do |f| %>
  <% if @polling_location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@polling_location.errors.count, "error") %> prevented us from saving this polling location:</h2>

      <ul>
      <% @polling_location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <label class="control-label">Tell us where you voted:<br />
      <em class="light">(The full address is helpful if you have it. Otherwise, please be sure to tell us the city and name of location.)</em></label>
  	<div class="controls"><%= f.text_area :description, :rows => 6, :class => "span8" %></div>
  </div>
  <%= f.hidden_field :state, :value => @polling_location.state %>
  <%= f.submit "Give Feedback", :class => "btn btn-primary" %>
<% end %>
