<%= form_for [review.polling_location, review] do |f| %>
    <div class="control-group">
        <label class="control-label"><strong>When did you arrive to vote?</strong></label>
        <div class="controls">
            Day: <select name="review[voted_day]">
                <option value="10-15">October 15</option>
                <option value="10-16">October 16</option>
                <option value="10-17">October 17</option>
                <option value="10-18">October 18</option>
                <option value="10-19">October 19</option>
                <option value="10-20">October 20</option>
                <option value="10-21">October 21</option>
                <option value="10-22">October 22</option>
                <option value="10-23">October 23</option>
                <option value="10-24">October 24</option>
                <option value="10-25">October 25</option>
                <option value="10-26">October 26</option>
                <option value="10-27">October 27</option>
                <option value="10-28">October 28</option>
                <option value="10-29">October 29</option>
                <option value="10-30">October 30</option>
                <option value="10-31">October 31</option>
                <option value="11-01">November 1</option>
                <option value="11-02">November 2</option>
                <option value="11-03">November 3</option>
                <option value="11-04">November 4</option>
                <option value="11-05">November 5</option>
                <option value="11-06" selected="selected">November 6</option>
            </select><br class="hide_sm" />
            Time: 
            <select name="review[voted_time]">
                <option value="">Select One</option>
                <option value="00:00">12:00 AM</option>
                <option value="00:15">12:15 AM</option>
                <option value="00:30">12:30 AM</option>
                <option value="00:45">12:45 AM</option>
                <option value="01:00">1:00 AM</option>
                <option value="01:15">1:15 AM</option>
                <option value="01:30">1:30 AM</option>
                <option value="01:45">1:45 AM</option>
                <option value="02:00">2:00 AM</option>
                <option value="02:15">2:15 AM</option>
                <option value="02:30">2:30 AM</option>
                <option value="02:45">2:45 AM</option>
                <option value="03:00">3:00 AM</option>
                <option value="03:15">3:15 AM</option>
                <option value="03:30">3:30 AM</option>
                <option value="03:45">3:45 AM</option>
                <option value="04:00">4:00 AM</option>
                <option value="04:15">4:15 AM</option>
                <option value="04:30">4:30 AM</option>
                <option value="04:45">4:45 AM</option>
                <option value="05:00">5:00 AM</option>
                <option value="05:15">5:15 AM</option>
                <option value="05:30">5:30 AM</option>
                <option value="05:45">5:45 AM</option>
                <option value="06:00">6:00 AM</option>
                <option value="06:15">6:15 AM</option>
                <option value="06:30">6:30 AM</option>
                <option value="06:45">6:45 AM</option>
                <option value="07:00">7:00 AM</option>
                <option value="07:15">7:15 AM</option>
                <option value="07:30">7:30 AM</option>
                <option value="07:45">7:45 AM</option>
                <option value="08:00">8:00 AM</option>
                <option value="08:15">8:15 AM</option>
                <option value="08:30">8:30 AM</option>
                <option value="08:45">8:45 AM</option>
                <option value="09:00">9:00 AM</option>
                <option value="09:15">9:15 AM</option>
                <option value="09:30">9:30 AM</option>
                <option value="09:45">9:45 AM</option>
                <option value="10:00">10:00 AM</option>
                <option value="10:15">10:15 AM</option>
                <option value="10:30">10:30 AM</option>
                <option value="10:45">10:45 AM</option>
                <option value="11:00">11:00 AM</option>
                <option value="11:15">11:15 AM</option>
                <option value="11:30">11:30 AM</option>
                <option value="11:45">11:45 AM</option>
                <option value="12:00">12:00 PM</option>
                <option value="12:15">12:15 PM</option>
                <option value="12:30">12:30 PM</option>
                <option value="12:45">12:45 PM</option>
                <option value="13:00">1:00 PM</option>
                <option value="13:15">1:15 PM</option>
                <option value="13:30">1:30 PM</option>
                <option value="13:45">1:45 PM</option>
                <option value="14:00">2:00 PM</option>
                <option value="14:15">2:15 PM</option>
                <option value="14:30">2:30 PM</option>
                <option value="14:45">2:45 PM</option>
                <option value="15:00">3:00 PM</option>
                <option value="15:15">3:15 PM</option>
                <option value="15:30">3:30 PM</option>
                <option value="15:45">3:45 PM</option>
                <option value="16:00">4:00 PM</option>
                <option value="16:15">4:15 PM</option>
                <option value="16:30">4:30 PM</option>
                <option value="16:45">4:45 PM</option>
                <option value="17:00">5:00 PM</option>
                <option value="17:15">5:15 PM</option>
                <option value="17:30">5:30 PM</option>
                <option value="17:45">5:45 PM</option>
                <option value="18:00">6:00 PM</option>
                <option value="18:15">6:15 PM</option>
                <option value="18:30">6:30 PM</option>
                <option value="18:45">6:45 PM</option>
                <option value="19:00">7:00 PM</option>
                <option value="19:15">7:15 PM</option>
                <option value="19:30">7:30 PM</option>
                <option value="19:45">7:45 PM</option>
                <option value="20:00">8:00 PM</option>
                <option value="20:15">8:15 PM</option>
                <option value="20:30">8:30 PM</option>
                <option value="20:45">8:45 PM</option>
                <option value="21:00">9:00 PM</option>
                <option value="21:15">9:15 PM</option>
                <option value="21:30">9:30 PM</option>
                <option value="21:45">9:45 PM</option>
                <option value="22:00">10:00 PM</option>
                <option value="22:15">10:15 PM</option>
                <option value="22:30">10:30 PM</option>
                <option value="22:45">10:45 PM</option>
                <option value="23:00">11:00 PM</option>
                <option value="23:15">11:15 PM</option>
                <option value="23:30">11:30 PM</option>
                <option value="23:45">11:45 PM</option>
            </select>
        </div>
    </div>
    <br />
    <div class="control-group">
        <label class="control-label"><strong>How long did you have to wait?</strong></label>
        <div class="controls"><%= f.text_field :wait_time, class: "span1", type: "number"  %> Minutes
        </div>
    </div>
    <br />
    <div class="control-group">
        <label class="control-label"><strong>Were you able to vote?</strong></label>
        <div class="controls">
            <div class="btn-group radio-group">
                <div class="btn radio-btn">
                    <%= f.radio_button(:able_to_vote, true) %>
                    Yes
                </div>
                <div class="btn radio-btn">
                    <%= f.radio_button(:able_to_vote, false) %>
                    No
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="control-group">
        <label class="control-label"><strong>How would you rate the voting location?</strong></label>
        <div class="controls">
            <div class="rating-group clearfix">
                <div class="rating-btn">
                    <%= f.radio_button(:rating, 1) %>
                </div>
                <div class="rating-btn">
                    <%= f.radio_button(:rating, 2) %>
                </div>
                <div class="rating-btn">
                    <%= f.radio_button(:rating, 3) %>
                </div>
                <div class="rating-btn">
                    <%= f.radio_button(:rating, 4) %>
                </div>
                <div class="rating-btn">
                    <%= f.radio_button(:rating, 5) %>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="control-group">
        <label class="control-label"><strong>Any Comments?</strong></label>
        <div class="controls">
            <%= f.text_area :comments, :rows => "6", :class => "span8" %>
        </div>
    </div>
    <br />
    <%= f.submit "Send Feedback", :class => "btn btn-primary" %>
<% end %>
