<!DOCTYPE html>
<html>
<head>
	<title>My Fair Election</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="HandheldFriendly" content="true">

	<%= stylesheet_link_tag    "bootstrap-em-nojs", :media => "all" %>
	<%= stylesheet_link_tag    "bootstrap-em-nojs-grid", :media => "all" %>
	<%= stylesheet_link_tag    "style", :media => "all" %>

	<!--[if (lt IE 9)&(!IEMobile)]><![endif]-->
<!--
	<script type="text/javascript" src="js/modernizr.js"></script>
-->
	<%= csrf_meta_tags %>
</head>
<body id="page">
	<div class="header clearfix" role="banner">
		<% if user_signed_in? %>
        <div class="memberinfo pull-right">
            <%= current_user.email %> &nbsp;
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-primary btn-small" %>
        </div>
        <% else %>
        <div class="signin pull-right clearfix">
 			<%= form_for("user", :url => user_session_path, :class => "form_inline") do |f| %>
			  <%= f.email_field :email, class: "input-small", placeholder: "Email" %>
			  <%= f.password_field :password, class: "input-small", placeholder: "Password" %>
			  <%= f.submit "Sign In", class: "btn btn-primary" %>
			<% end %>
        </div>
        <% end %>
	</div>

	<div class="content" role="main">
		<h1>My Fair Election</h1>
		<hr />

		<% flash.each do |name, msg| %>
    		<%= content_tag :div, msg, id: "flash_#{name}" %>
  		<% end %>

		<%= yield %>

	</div>

	<div class="footer" role="footer">
	</div>

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.js"></script>
	<%= javascript_include_tag "application" %>
	<%= javascript_include_tag "bootstrap-dropdown" %>
</body>
</html>
