<!DOCTYPE html>
<html>
<head>
	<title>My Fair Election</title>
	<meta charset="utf-8">
	<meta name="description" content="Improving the voting process through your feedback about polling places.">
	<meta name="keywords" content="register to vote, polling place, voting polls, voting process, how to vote, registering to vote, how to register to vote, registration to vote, voting hours, requirements to vote, find polling place, my voting place, the voting process, voter polling locations, when is voting day, how to sign up to vote" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="HandheldFriendly" content="true">

	<%= stylesheet_link_tag    "bootstrap-em-nojs", :media => "all" %>
	<%= stylesheet_link_tag    "bootstrap-em-nojs-grid", :media => "all" %>
	<%= stylesheet_link_tag    "style", :media => "all" %>

	<!--[if (lt IE 9)&(!IEMobile)]>
		<%= stylesheet_link_tag    "ie", :media => "all" %>
	<![endif]-->
	<%= csrf_meta_tags %>
	<% unless Rails.env.test? %>
		<%= analytics_init :local => Rails.env.development? %>
		<% unless session[:events].nil? %>
		    <script>
		  	<% session[:events].each do |event|%>
				<%= analytics_track_event(event[:category], event[:action], event[:label]) %>
			<% end %>
			</script>
		<% end %>
		<% session[:events] = Array.new %>
	<% end %>

</head>
<body>
	<% flash.each do |name, msg| %>
		<%= content_tag :div, msg, id: "flash_#{name}", :class => "alert-flash" %>
	<% end %>
	<div class="header clearfix" role="banner">
		<% if user_signed_in? %>
	        <div class="memberinfo pull-right">
	            <%= current_user.email %> &nbsp;
	            <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "btn btn-primary btn-small" %>
	        </div>
        <% else %>
	        <div class="signin-btn clearfix"><a href="#" class="click_toggle" data-target="signin">Log In</a></div>
	        <div id="signin" class="signin clearfix">
	 			<%= form_for("user", :url => user_session_path, :class => "form_inline", :html => {id: "signin"}) do |f| %>
	 			  <div class="inline">
	 			  	<label>Email:</label>
	 			  	<%= f.email_field :email, class: "input-small" %>
	 			  </div>
	 			  <div class="inline">
	 			  	<label>Password:</label>
				    <%= f.password_field :password, class: "input-small" %>
	 			  </div>
				  <%= f.submit "Log In", class: "btn btn-primary" %>
				<% end %>
	        </div>
        <% end %>
	</div>

	<div class="content" role="main" align="center">
		<div class="section section-primary">
		    <div class="section-mast">
		        <a href="/"><h1 class="mfe_logo_lg">My Fair Election</h1></a>
		        <h3>Improving the voting process through your&nbsp;feedback.</h3>
		        <%= yield :address_form %>
		    </div>
		</div>

		<div class="page">
		    <div class="section clearfix">
				<!-- Start Content -->
				<%= yield %>
				<!-- End Content -->
		    </div>
		</div>

		<div class="section-trouble clearfix">
		    Having trouble at your polling place? <span class="block_sm"><%= link_to_unless_current "Here are some resources to help you", info_fraud_path %></a></span>
		</div>
	</div>

	<div class="footer" role="footer" align="center">
        <a href="/">Home</a>
        <span class="divider">&bull;</span>
<!--
        <a href="#">Contact Us</a>
        <span class="divider">&bull;</span>
-->
        <%= link_to_unless_current "About", info_about_path %>
        <span class="divider">&bull;</span>
        <%= link_to_unless_current "Credits", info_credits_path %>
        <span class="divider">&bull;</span>
        <%= link_to_unless_current "Terms of Use", info_terms_of_use_path %>
        <span class="divider">&bull;</span>
        <%= link_to_unless_current "Privacy Policy", info_privacy_policy_path %>
        <div class="copyright">&copy; 2012 My Fair Election</div>
	</div>

    <script type="text/javascript">
        var images = document.getElementsByTagName("body");
        images[0].className = "js";
        /* Modernizr 2.6.2 (Custom Build) | MIT & BSD
         * Build: http://modernizr.com/download/#-svg
         */
        ;window.Modernizr=function(a,b,c){function u(a){i.cssText=a}function v(a,b){return u(prefixes.join(a+";")+(b||""))}function w(a,b){return typeof a===b}function x(a,b){return!!~(""+a).indexOf(b)}function y(a,b,d){for(var e in a){var f=b[a[e]];if(f!==c)return d===!1?a[e]:w(f,"function")?f.bind(d||b):f}return!1}var d="2.6.2",e={},f=b.documentElement,g="modernizr",h=b.createElement(g),i=h.style,j,k={}.toString,l={svg:"http://www.w3.org/2000/svg"},m={},n={},o={},p=[],q=p.slice,r,s={}.hasOwnProperty,t;!w(s,"undefined")&&!w(s.call,"undefined")?t=function(a,b){return s.call(a,b)}:t=function(a,b){return b in a&&w(a.constructor.prototype[b],"undefined")},Function.prototype.bind||(Function.prototype.bind=function(b){var c=this;if(typeof c!="function")throw new TypeError;var d=q.call(arguments,1),e=function(){if(this instanceof e){var a=function(){};a.prototype=c.prototype;var f=new a,g=c.apply(f,d.concat(q.call(arguments)));return Object(g)===g?g:f}return c.apply(b,d.concat(q.call(arguments)))};return e}),m.svg=function(){return!!b.createElementNS&&!!b.createElementNS(l.svg,"svg").createSVGRect};for(var z in m)t(m,z)&&(r=z.toLowerCase(),e[r]=m[z](),p.push((e[r]?"":"no-")+r));return e.addTest=function(a,b){if(typeof a=="object")for(var d in a)t(a,d)&&e.addTest(d,a[d]);else{a=a.toLowerCase();if(e[a]!==c)return e;b=typeof b=="function"?b():b,typeof enableClasses!="undefined"&&enableClasses&&(f.className+=" "+(b?"":"no-")+a),e[a]=b}return e},u(""),h=j=null,e._version=d,e}(this,this.document);
        if (Modernizr.svg) {
            var tags = document.getElementsByTagName("body");
            tags[0].className += " svg";
        }
    </script>
<!--
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.js"></script>
-->
	<%= javascript_include_tag "application" %>
</body>
</html>
